fontRegular = ProximaNovaRegular
fontBold = ProximaNovaBold
fontExtraBold = ProximaNovaExtraBold
fontBlack = ProximaNovaBlack
fontThin = ProximaNovaThin
colorWhite = #ffffff
colorBlack = #000000
colorBlue = #201b57
colorRed = #ef4151
colorPurple = #7f4f8f

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
  .screen-top
    margin-top 80px

  .work-title
    font-size 24px

  .device-title
    font-size 24px
    margin-bottom 30px

  .feature-text
    font-size 16px

  .order-title
    font-size 16px

  .order-text
    font-size 14px

  .prices
    margin-bottom 20px

  .text-small
    font-size 12px

  .order-buttons
    flex-direction row
    justify-content center
    .btn
      margin auto 15px

  .wrapper-col
    margin-top 3%
    .order &
      margin-top 1%

  .info-img
    height 232px

  .title-main
    margin-bottom 30%

  .bg-top-left
    bottom 45%
    left 15%

  .bg-top-right
    bottom 45%
    right 15%

  .device
    flex-direction row

  .device-img
    width 210px

  .work
    margin-top 20px

  .modal-dialog
    max-width 460px
    margin 65px auto

// 640px and up
@media (min-width: 640px)
  .container
    max-width 580px

  .title-main
    font-size 40px
    margin-bottom 40px

  .title
    font-size 36px

  .text
    font-size 20px

  .wrapper-col
    margin-top 2.5%
    .order &
      margin-top 1%

  .work-title
    margin-bottom 15px

  .work-text
    font-size 20px

  .device-text
    font-size 18px

  .bg-top-left
    width 180px
    bottom 28%
    left 0

  .bg-top-right
    width 170px
    bottom 28%
    right 0

  .text-top
    width 340px
    margin 0 auto 30px

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
  .container
    max-width 620px

  .screen-save
    .title
      margin-bottom 40px

  .save
    padding 0 30px
    margin-bottom 0
    border-right 1px solid rgba(32,27,87,0.2)
    border-bottom 1px solid rgba(32,27,87,0.2)
    &:nth-of-type(2)
    &:nth-of-type(4)
      border-right 0
    &:nth-of-type(3)
    &:nth-of-type(4)
      padding-top 40px
      border-bottom 0

  .reason-title
    font-size 22px

  .reason-text
    font-size 16px

  .help-title
    font-size 26px

  .help-text
    font-size 14px

  .faq-title
    font-size 22px

  .modal-content
    .title
      font-size 32px

  .modal-body
    padding 40px 45px

  .form-group
    margin-bottom 25px

  .form-control
    height 60px
    padding 0 20px
    font-size 16px

  .form-check-label
    font-size 14px
    line-height 1.55

  .rules-title
    font-size 30px

  .rules-text
    font-size 14px
    line-height 1.55

  .title-feedback
    font-size 38px

  .text-feedback
    font-size 22px

  .link-back
    width 336px

// Large devices (desktops, 992px and up)
@media (min-width: 960px)
  .container
    max-width 900px

  .screen-top
    margin-top 130px

  .title-main
    font-size 50px
    max-width 700px
    margin auto

  .title
    font-size 40px

  .text-top
    font-size 24px
    width 100%

  .reasons-text
    font-size 22px

  .order-title
    font-size 18px

  .order-text
    font-size 16px

  .price
    font-size 24px
    text-align left

  .sign-rouble
    font-size 22px

  .text-small
    font-size 16px
    text-align left

  .device-img
    height 240px

  .btn-small
    margin-left 0

  .info-img
    height 232px

  .info-text
    padding 0 20px

  .device
    flex-direction column

  .device-img
    width 100%

  .prices
    margin-top -22%

  .order-img
  .order-wrapper
    margin-left 4%

  .bg-top-left
    width 290px
    bottom 12%
    left -5%

  .bg-top-right
    width 310px
    bottom 12%
    right -5%

  .navbar
    padding 20px

  .navbar-collapse
    padding 0

  .header-logo
    max-width 200px

  .menu-link
    font-size 16px

  .header-phone
    font-family fontBold
    font-size 18px
    margin 0
    text-decoration underline
    &:hover
    &:focus
      text-decoration underline

  .menu-item
    margin 0 16px

  .features
    margin 30px 10px

  .work
    margin-top 0

  .save
    padding 0 75px

// 1024px and up
@media (min-width: 1024px)
  .title-main
    margin-bottom 20px

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
  .container
    max-width 1140px

  .title-main
    margin-bottom 40px

  .reasons-text
    font-size 24px
    margin-bottom 80px

  .reason-title
    font-size 24px

  .reason-text
    font-size 18px

  .help-title
    font-size 28px

  .help-text
    font-size 16px

  .faq-title
    font-size 24px

  .reason
    padding 0 25px 25px
    margin-bottom 0
    + .reason
      border-top 0
      border-left 1px solid #d1d1d1

  .prices
    margin-left 45px

  .btn-small
    margin-left 45px

  .help-img-main
    margin-bottom 0

  .bg-top-left
    width 380px
    bottom 2%
    left -9.25%

  .bg-top-right
    width 400px
    bottom 2%
    right -9.25%

  .header-logo
    max-width 200px

  .header-phone
    font-size 18px
    text-decoration underline
    &:hover
    &:focus
      text-decoration underline

  .save
    padding 0 30px
    border-right 1px solid rgba(32,27,87,0.2)
    border-bottom 0
    &:nth-of-type(2)
      border-right 1px solid rgba(32,27,87,0.2)
    &:nth-of-type(4)
      border-right 0
    &:nth-of-type(3)
    &:nth-of-type(4)
      padding-top 0

  .screen-help
    .title
      margin-bottom 80px

  .modal-dialog
    max-width 560px

  .modal-content
    .title
      font-size 36px

  .form-check-label
    font-size 15px

  .rules-title
    font-size 32px

  .rules-text
    font-size 16px

  .title-feedback
    font-size 42px

  .text-feedback
    font-size 24px
    line-height 1.5

@media (min-width: 1440px)
  .bg-top-left
    left 0

  .bg-top-right
    right 0

  .navbar
    padding 20px 40px

@media (min-width: 1650px)
  .bg-top-left
    left 13%

  .bg-top-right
    right 13%


